html,
body
  background-color: #fff
  color: black
  padding: 0
  margin: 0
  font-size: 16px
  font-family: 'Lato', 'Roboto', sans-serif
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -webkit-font-smoothing: subpixel-antialiased

a
  color: inherit
  text-decoration: none

*
  box-sizing: border-box

